/*Basic pag layout*/
body {
    background-color: rgba(219, 219, 219, 0.3) !important;
    padding-bottom: 1px;
}
header, main, footer {
    background-color: white;
    border-bottom: 2px solid rgba(219, 219, 219, 0.3);
    margin: auto;
    max-width: 1604px;
}

/*-----------------------------------------*/

header {
    min-height: 60px;
}
nav {
    padding: 0px 20px 0px 20px;
}
nav a {
    color: inherit;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}
.btnMore {
    background-color: white;
    border: none;
    color:rgb(255, 140, 0);
    font-weight: bold;
    font-size: 1.1em;
}
.container-fluid-nav {
    align-content: center;
    align-items: flex-start;
    display: flex;
    gap: 2.2em;
    justify-content: left;
    min-height: 49px;
    padding-top: 10px;
}
.link-navbar-right {
    color: rgba(0, 0, 255, 0.7);
    margin-left: auto;
}

.menu-more {
    display: none;
}

.more-gride-menu-1 {
    display: grid;
}

.more-gride-menu-2 {
    display: grid;
}

@media screen and (max-width: 1604px) {
    header, main, footer {
        width: 100vw;
    }
    nav {
        padding: 0px 25px 0px 25px;
    }
}