/*Basic pag layout*/
body {
    background-color: rgba(219, 219, 219, 0.3) !important;
    padding-bottom: 1px;
}
header, main, footer {
    background-color: white;
    border-bottom: 2px solid rgba(219, 219, 219, 0.3);
    margin-inline: auto;
    max-width: 1604px;
    padding: 1em;
}

/*-----------------------------------------*/

header {
    min-height: 60px;
}
nav {
    padding: 0px 20px 0px 20px;
}
nav a {
    color: inherit;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
}
nav a:hover{
    color: inherit;
}

.container-fluid-nav {
    align-content: center;
    align-items: flex-start;
    display: flex;
    gap: 1.5em;
    justify-content: left;
    min-height: 49px;
    padding-top: 10px;
}

.btnMore {
    background-color: white;
    border: none;
    color:#FF764D;
    font-weight: bold;
    font-size: 1.1em;
}

.container-fluid-nav .link-navbar-right {
    color: rgba(0, 0, 255, 1);
    margin-left: auto;
}

.menu-more {
    display: none;
    margin-top: 2em;
    padding-bottom: 2.5em;
}

.menu-more[open]{
    display: block;
}

.more-flex-menu-1 {
    display: flex;
    gap: 1.5em;
}
.sub-tittle-grid2{
    margin-top: 1.5em;
}
.more-flex-menu-2 {
    display: flex;
    flex: 1;
    gap: 1em;
}
.more-flex-menu-2 span{
    font-weight: 600;
}

.item-grid {
    margin-top: 0.5em;
    font-weight: normal;
}

.item-grid.orange{
   color: #FF764D; 
}

@media screen and (max-width: 1604px) {
    header, main, footer {
        width: 100vw;
    }
    nav {
        padding: 0px 25px 0px 25px;
    }
}